(
    selected_tab: Some("#7E9CD8"),
    command_fg: Some("#DCD7BA"),
    selection_bg: Some("#000000"),
    selection_fg: Some("#DCD7BA"),
    cmdbar_bg: Some("#000000"),
    cmdbar_extra_lines_bg: Some("#1F1F28"),
    disabled_fg: Some("#727169"),
    diff_line_add: Some("#76946A"),
    diff_line_delete: Some("#C34043"),
    diff_file_added: Some("#76946A"),
    diff_file_removed: Some("#C34043"),
    diff_file_modified: Some("#DCA561"),
    commit_hash: Some("#957FB8"),
    commit_time: Some("#727169"),
    commit_author: Some("#E6C384"),
    danger_fg: Some("#E82424"),
    branch_fg: Some("#7AA89F"),
    tag_fg: Some("#FFA066"),
    push_gauge_bg: Some("#223249"),
    push_gauge_fg: Some("#7E9CD8"),
    file_bg: None,
    background: Some("#1F1F28"),
    tab_active: Some("#1F1F28"),
    tab_inactive: Some("#16161D"),
)
