(
    selected_tab: Some("#FF0000"),
    command_fg: Some("#E0E0E0"),
    selection_bg: Some("#606060"),
    selection_fg: Some("#FFFFFF"),
    cmdbar_bg: None,
    cmdbar_extra_lines_bg: None,
    disabled_fg: Some("#808080"),
    diff_line_add: Some("#808080"),
    diff_line_delete: Some("#FF0000"),
    diff_file_added: Some("#808080"),
    diff_file_removed: Some("#FF0000"),
    diff_file_modified: Some("#D0D0D0"),
    commit_hash: Some("#909090"),
    commit_time: Some("#A0A0A0"),
    commit_author: Some("#E0E0E0"),
    danger_fg: Some("#FF0000"),
    branch_fg: Some("#E0E0E0"),
    tag_fg: Some("#FF0000"),
    push_gauge_bg: Some("#707070"),
    push_gauge_fg: Some("#FF0000"),
    file_bg: None,
    background: None,
    tab_active: None,
    tab_inactive: None,
    file_fg: Some("#E0E0E0"),
    tab_fg: Some("#909090"),
)
